@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.contact-section {
  padding: 4rem 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.5rem;
}

.contact-title {
  color: #2053d1;
  letter-spacing: 1em;
  font-size: 1rem;
  font-weight: bold;
}

.contact-subtitle {
  color: #262b36;
  font-weight: bold;
  text-align: left;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
  margin-right: 40rem;
  margin-top: 0.3rem;
}

.contact-illustration {
  width: 100%;
  max-width: 400px;
}
