@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  margin-top: 5rem;
  position: relative;
  color: #262b36;
}

.footer-left {
  max-width: 40%;
  text-align: left;
  margin-left: 2rem;
}

.footer-logo {
  width: 150px;
  margin-bottom: 1rem;
}

.footer-text {
  line-height: 1.5;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 60%;
  text-align: left;
  margin-right: 2rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-link {
  color: #262b36;
  font-weight: light;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link:hover {
  color: #2053d1;
}

.footer-icon {
  margin-right: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.footer-link:hover .footer-icon {
  transform: rotate(360deg);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-github {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-bottom: -0.1rem;
  color: #262b36;
  transition: transform 0.3s ease-in-out;
}

.footer-icon-github:hover {
  transform: rotate(360deg);
  color: #2053d1;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .footer-left,
  .footer-right {
    max-width: 100%;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
  }

  .footer-left {
    margin-left: 0;
  }

  .footer-right {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 2rem;
    align-items: center;
    width: 100%;
  }

  .footer-logo {
    margin: 0 auto 1rem;
  }

  .footer-heading {
    text-align: center;
  }

  .footer-link {
    text-align: center;
  }

  .footer-text {
    text-align: center;
  }

  .footer-right .footer-column:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-right .footer-column:last-child .footer-heading {
    align-self: center;
  }

  .footer-right .footer-column:last-child .footer-link {
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
  }

  /* Create a container for social media links */
  .social-media-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .footer-bottom {
    margin-top: 1rem;
  }

  .footer-copyright {
    flex-direction: column;
  }

  .footer-icon-github {
    margin: 0.5rem 0;
  }
}
