@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.hero {
  background-image: url("/src/assets/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  padding: 0 2rem;
  position: relative;
  z-index: -1;
  margin-top: -6rem;
}

.hero-content {
  text-align: left;
  max-width: 50%;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.hero-content .highlight {
  color: #3acb6e;
}

.subtext {
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 1rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.hero-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 4px;
}

.hero-button:hover {
  background-color: #3acf6e;
  border-color: #3acf6e;
}

.hero-image {
  max-width: 40%;
  height: auto;
  margin-left: 2rem;
  margin-right: -2rem;
  margin-top: 6rem;
  margin-bottom: -1rem;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    max-width: 100%;
  }

  .subtext {
    font-size: 0.8rem; 
  }

  .hero-buttons {
    flex-direction: row; 
    justify-content: center;
    gap: 3rem;
  }

  .hero-image {
    display: none; 
  }
}
