@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "/node_modules/swiper/swiper-bundle.min.css";

.service {
  background-color: #ecf0f7;
  text-align: center;
  padding: 4rem 2rem;
  font-family: "Inter", sans-serif;
}

.service-title {
  color: #2053d1;
  letter-spacing: 0.5em;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.service-subtitle {
  color: #262b36;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

.service-description {
  color: #606b86;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.service-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 2rem;
}

.service-icons-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: 5rem auto;
}

.service-icon-box {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.service-icon {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}

.service-icon-text {
  color: #262b36;
  font-size: 1rem;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .service-icons-container {
    display: none;
  }
  .service-swiper {
    display: block;
  }
}
