@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "/node_modules/swiper/swiper-bundle.min.css";

.testimonial {
  background-color: #ecf0f7;
  text-align: center;
  padding: 4rem 2rem;
  font-family: "Inter", sans-serif;
}

.testimonial-title {
  color: #2053d1;
  letter-spacing: 0.5em;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.testimonial-subtitle {
  color: #262b36;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 2rem;
  margin-top: 0;
  padding: 1rem;
}

.testimonial-swiper {
  width: 100%;
  padding: 50px 0;
}

.testimonial-slide {
  width: 500px;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.swiper-slide-active {
  opacity: 1;
}

.testimonial-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: left;
  position: relative;
  height: 100%;
  overflow: visible;
}

.testimonial-content {
  padding-right: 100px;
}

.testimonial-photo-container {
  position: absolute;
  top: -2.2rem;
  right: -1rem;
}

.testimonial-photo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-message {
  color: #262b36;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.testimonial-name {
  color: #262b36;
  font-size: 1rem;
  margin-bottom: -0.67rem;
}

.testimonial-role {
  color: #606b86;
  font-size: 0.8rem;
}

.testimonial-slide {
  width: 500px;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #2053d1;
  width: 5px;
  height: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px;
}

@media (max-width: 768px) {
  .testimonial-slide {
    width: 300px;
  }

  .testimonial-content {
    padding-right: 0;
    padding-top: 2.5rem;
    text-align: center;
  }

  .testimonial-photo-container {
    top: -2rem;
    right: 50%;
    transform: translateX(50%);
  }

  .swiper-button-next {
    right: 0.578rem;
  }

  .swiper-button-prev {
    left: 0.578rem;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 18px;
  }
}
