@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.update {
  background-image: url("/src/assets/background-update.png");
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.update-content {
  text-align: left;
  max-width: 50%;
  margin-left: 0;
}

.update-title {
  color: #2053d1;
  letter-spacing: 0.5em;
  font-size: 1rem;
  margin-left: 5rem;
}

.update-subtitle {
  color: #262b36;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 5rem;
  padding-right: 20rem;
}

.update-image-container {
  margin-top: 2rem;
  margin-left: -2rem;
}

.update-image {
  width: 100%;
  height: auto;
  display: block;
}

.update-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 40%;
}

.detail-item {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-align: left;
}

.detail-icon {
  width: 50px;
  height: auto;
  margin-right: 1.2rem;
  margin-top: -5rem;
}

.detail-title {
  color: #ffffff;
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.detail-description {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding-right: 5rem;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .update {
    background-image: url("/src/assets/background-update-mobile.png");
    flex-direction: column;
    align-items: center;
  }

  .update-content {
    text-align: center;
    max-width: 100%;
    margin-left: 0;
  }

  .update-title {
    margin-left: 0;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .update-subtitle {
    color: #ffffff;
    margin-left: 0;
    font-size: 1.2rem;
    padding-right: 0;
  }

  .update-image-container {
    margin-left: 0;
  }

  .update-details {
    max-width: 100%;
    margin-top: 2rem;
  }

  .detail-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detail-icon {
    margin-right: 0;
    margin-top: 0;
  }

  .detail-title {
    margin-top: 1rem;
  }

  .detail-description {
    padding-right: 0;
  }
}
