@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.update {
  background-image: url("/src/assets/background-update.png");
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100vh;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.update-content {
  text-align: left;
  margin-top: -30rem;
  margin-left: 2rem;
  max-width: 60%;
}

.update-title {
  color: #2053d1;
  letter-spacing: 0.5em;
  font-size: 1rem;
  margin: 0;
}

.update-subtitle {
  color: #262b36;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  padding-right: 20rem;
}
